@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerCandidato{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.tituloPagina{
    font-size: 50px;
    margin: 30px 0;
    font-weight: 500;
}

.imagemCandidato{
    width: 50%;
    margin-bottom: 30px;
    border: 5px solid black;
}

.nomeCandidato{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 300;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#numeroCandidato{
    margin-bottom: 30px;
    width: 300px;
    padding: 15px;
    border: 1px solid black;
}

.botaoForm{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
}